body {
    background-color: #ff5050   ; 
}

.container {
    max-width: 500px;
    background: #ffffff;
    padding: 20px;
    margin-top: 50px;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.1);
      
      
}

.logo    {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

img {
    max-width: 100%; 
    height: auto; 
}